<li class='name-li'>
  <%= link_to person_path(person.id), class:'link' do %>
    <%= person.first_name %>
    <%= person.last_name %>
    <span class='name-read-li'>
      <%= person.first_name_reading %>
      <%= person.last_name_reading %>
    </span>
  <% end %>
</li>
