<%= render "shared/header" %>
<div class='top-page-main'>
  <div class='top-page-title'>
    Person 一覧
  </div>
  <%= form_with url: search_people_path, local: true, method: :get, class:'search-box' do |form| %>
    <%= form.text_field :keyword, placeholder: "名前を検索する", class: "search-word" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <ul class='person-lists'>
    <% if @people.present? %>
      <%= render partial: 'person', collection: @people %>
    <% end %>
  </ul>
</div>
<%= link_to new_person_path do%>
  <div class='memories-btn'>
    <div class='memories-btn-text'>記録する</div>
  </div>
<% end %>