<%= render "shared/header" %>

<div class='item-show'>
  <div class="item-box">
    <div class='show-page-title'>
      <%= @person.first_name%>  <%= @person.last_name %>
    </div>
    <div class="detail-item">＜趣味＞
        <div class="detail-value"><%= @person.hobby %></div>
    </div>
  </div>
</div>
<%= link_to new_person_path do%>
  <div class='memories-btn'>
    <div class='memories-btn-text'>記録する</div>
  </div>
<% end %>